p Player One: This is a game about battleships.
p P2: Die Die Die!
p Player One: Ignore that incompetent waste of a inbred whore.
p P2: That's mean man, take that back.
p Player One: Mmmmm.... no.
p P2: Man your guns, I'm gonna crush your fleet with my eyes closed!
p Player One: Oh yeah, let the battle begin!
